.search-input{
  padding-left: 0.75rem;
  border-radius: 0.25em;
  width: 95%;
  /* margin: 1rem; */
  font-size: 1.25rem;
  /* height: 1.5rem; */
  font-weight: 300;
  grid-column: 1;
}

.search-button{
  background-color: #7938e8;
  color: white;
  font-weight: 300;
  width: 100%;
  border-radius: 0.25rem;
  height: 3rem;
  grid-column: 2;
}

.search-form{
  display: grid;
  grid-template-columns: 75% 1fr;
  grid-column-gap: 10px;
  width: 100%;
}

.repo-container{
  float:left;
  width: 50%;
  position: relative;
  top: 8.5rem;
  padding-left: 1.5rem;
}